replicaCount: 2

image:
  repository: ghcr.io/Jovial-Kanwadia/store-backend
  tag: latest
  pullPolicy: Always

env:
  ENV: "production"
  LISTEN_ADDR: ":8080"
  REDIS_ADDR: "redis.default.svc.cluster.local:6379"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

service:
  port: 80
